# graph lab stating

In [1]:
import graphlab

# Load dataset

In [4]:
sf = graphlab.SFrame('people-example.csv')

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

In [5]:
sf

First Name,Last Name,Country,age
Bob,Smith,United States,24
Alice,Williams,Canada,23
Malcolm,Jone,England,22
Felix,Brown,USA,23
Alex,Cooper,Poland,23
Tod,Campbell,United States,22
Derek,Ward,Switzerland,25

# Graph lab canvas

In [6]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:53306/index.html
Opening Canvas in default web browser.

In [7]:
graphlab.canvas.set_target('ipynb')

In [8]:
sf['age'].show(view='Categorical')

In [10]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [11]:
sf['age'].mean()

23.142857142857146

# Create new Column

In [12]:
sf

First Name,Last Name,Country,age
Bob,Smith,United States,24
Alice,Williams,Canada,23
Malcolm,Jone,England,22
Felix,Brown,USA,23
Alex,Cooper,Poland,23
Tod,Campbell,United States,22
Derek,Ward,Switzerland,25

In [13]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [14]:
sf

First Name,Last Name,Country,age,Full Name
Bob,Smith,United States,24,Bob Smith
Alice,Williams,Canada,23,Alice Williams
Malcolm,Jone,England,22,Malcolm Jone
Felix,Brown,USA,23,Felix Brown
Alex,Cooper,Poland,23,Alex Cooper
Tod,Campbell,United States,22,Tod Campbell
Derek,Ward,Switzerland,25,Derek Ward

# Use apply function

In [15]:
def transforn_country(country):
    if country == 'USA':
        return 'United States'
    return country

In [17]:
sf['Country'].show()

In [18]:
sf['Country'].apply(transforn_country).show()

In [19]:
sf['Country'] = sf['Country'].apply(transforn_country)

In [20]:
sf

First Name,Last Name,Country,age,Full Name
Bob,Smith,United States,24,Bob Smith
Alice,Williams,Canada,23,Alice Williams
Malcolm,Jone,England,22,Malcolm Jone
Felix,Brown,United States,23,Felix Brown
Alex,Cooper,Poland,23,Alex Cooper
Tod,Campbell,United States,22,Tod Campbell
Derek,Ward,Switzerland,25,Derek Ward